body{
    background-color: rgb(239, 226, 200);
}
dt{
    font-size: 20px;
    font-weight: bolder;
}
dd{
    font-size: 18px;
    font-weight: bold;
}
h1{
    font-size: 55px;
    margin: 0%; 
}
h2{
    font-size:20px;

}
.separater{
  border: 2px solid black;
  width: 950px;
  position: absolute;
  left: 300px;
}
label:hover{
    cursor: pointer;
}